<header>
    
    <div class="navbar bg-primary shadow-small">
        <div class="container">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 20px; color: white;" class="fa fa-shipping-fast"></i>
                <a>Flipkart</a>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Serach Products..">
                </div>
                <span class="fas fa-search search-icon">

                </span>
            </div>
            <button routerLink="cart" class="btn  btn-primary">
                <i class="fas fa-cart-plus"></i>
                <div class="badge bg-danger">{{totalItem}}</div>
            </button>
            
        </div>
    </div>
</header>
