.card-top{
    display: flex;
    flex-direction: column;
    background-color: white;
    background-clip: border-box;
    box-shadow: 0px 0px 21px -6px grey;
}
.card-top img{
    width: 52%;
   
}
.card-top .item{
    margin-bottom: 10px;
    text-align: center;
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}
 .card{
    width: 30%;
    padding: 20px;
    height: auto;
    margin-right: 20px !important;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}